.list-items {
    margin:0;
    padding: 0;
    list-style: none;
    text-align: left;
    text-decoration: none;

    li{
        margin-bottom: 20px;
        padding: 20px;
        width: 100%;
        background-color: antiquewhite;
    }
}