.hero {
    padding: 0;
    color: #fff;
    background: url("/assets/img/hero.jpg") center center;
    background-size: cover;
  
    h1 {
      line-height: 1.2em;
    }
  }
  
  .container {
    padding: 200px 20px;
    position: relative;
  
    @media (max-width: 767px) {
      padding: 150px 20px;
    }
  }
  
  .continue {
    position: absolute;
    bottom: 30px;
    left: 20px;
    text-decoration: none !important;
    color: inherit !important;
    text-transform: uppercase;
    font-size: 0.75em;
    opacity: 0.8;
  
    i {
      margin-right: 5px;
    }
  }
  
  .hero-link {
    color: inherit !important;
    text-transform: uppercase;
    font-size: 1em;
    text-decoration: none !important;
    margin-top: 20px;
    font-weight: 300;
  
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      display: block;
      background: #fff;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
  
    &:hover {
      color: #999 !important;
  
      &::after {
        background: #999;
      }
    }
  }  